*.dat
*.dat_old
*.jar
*.png

.fabric
.mixin.out
accounts.json
assets
cache
catpacks
coremods
data
downloads
icons
iconthemes
libraries
local
logs
meta
metacache
mods
resourcepacks
saves
screenshots
server-resource-packs
shaderpacks
texturepacks
themes
translations

realms_persistence.json
usercache.json
